
{% render 'gp-head', 'isThemeSection: true' %}
<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-533363183654536199.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-533363183654536199.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-533363183654536199.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-533363183654536199.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-533363183654536199.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-533363183654536199.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-533363183654536199.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-533363183654536199.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-533363183654536199.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-533363183654536199.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-533363183654536199.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-533363183654536199.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-533363183654536199.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-533363183654536199.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-533363183654536199.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-533363183654536199.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-533363183654536199.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-533363183654536199.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-533363183654536199.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-533363183654536199.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-533363183654536199.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-533363183654536199.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-533363183654536199.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-533363183654536199.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-533363183654536199.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-533363183654536199.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-533363183654536199.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-533363183654536199.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-533363183654536199.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-533363183654536199.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-533363183654536199.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-533363183654536199.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-533363183654536199.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-533363183654536199.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-533363183654536199.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-533363183654536199.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-533363183654536199.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-533363183654536199.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-533363183654536199.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-533363183654536199.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-533363183654536199.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-533363183654536199.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-533363183654536199.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-533363183654536199.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-533363183654536199.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-533363183654536199.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-533363183654536199.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-533363183654536199.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-533363183654536199.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-533363183654536199.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-533363183654536199.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-533363183654536199.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-533363183654536199.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-533363183654536199.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-533363183654536199.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-533363183654536199.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-533363183654536199.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-533363183654536199.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-533363183654536199.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-533363183654536199.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-533363183654536199.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-533363183654536199.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-533363183654536199.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-533363183654536199.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-533363183654536199.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-533363183654536199.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-533363183654536199.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-533363183654536199.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-533363183654536199.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-533363183654536199.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-533363183654536199.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-533363183654536199.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-533363183654536199.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-533363183654536199.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-533363183654536199.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-533363183654536199.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-533363183654536199.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-533363183654536199.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-533363183654536199.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-533363183654536199.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-533363183654536199.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-533363183654536199 .gp-relative{position:relative}.gps-533363183654536199 .gp-z-1{z-index:1}.gps-533363183654536199 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-533363183654536199 .gp-mb-0{margin-bottom:0}.gps-533363183654536199 .\!gp-inline{display:inline!important}.gps-533363183654536199 .gp-flex{display:flex}.gps-533363183654536199 .gp-inline-flex{display:inline-flex}.gps-533363183654536199 .gp-grid{display:grid}.gps-533363183654536199 .\!gp-hidden{display:none!important}.gps-533363183654536199 .gp-hidden{display:none}.gps-533363183654536199 .gp-h-full{height:100%}.gps-533363183654536199 .gp-w-full{width:100%}.gps-533363183654536199 .gp-max-w-full{max-width:100%}.gps-533363183654536199 .gp-shrink-0{flex-shrink:0}.gps-533363183654536199 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-533363183654536199 .gp-flex-col{flex-direction:column}.gps-533363183654536199 .gp-items-center{align-items:center}.gps-533363183654536199 .gp-justify-center{justify-content:center}.gps-533363183654536199 .gp-gap-y-0{row-gap:0}.gps-533363183654536199 .gp-overflow-hidden{overflow:hidden}.gps-533363183654536199 .gp-break-words{overflow-wrap:break-word}.gps-533363183654536199 .gp-rounded-none{border-radius:0}.gps-533363183654536199 .gp-text-left{text-align:left}.gps-533363183654536199 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-533363183654536199 .gp-no-underline{text-decoration-line:none}.gps-533363183654536199 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-533363183654536199 .gp-duration-200{transition-duration:.2s}.gps-533363183654536199 .gp-duration-300{transition-duration:.3s}.gps-533363183654536199 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-533363183654536199 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-533363183654536199 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-533363183654536199 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-533363183654536199 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-533363183654536199 .tablet\:\!gp-hidden{display:none!important}.gps-533363183654536199 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-533363183654536199 .mobile\:\!gp-hidden{display:none!important}.gps-533363183654536199 .mobile\:gp-hidden{display:none}}.gps-533363183654536199 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-533363183654536199 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-533363183654536199 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-533363183654536199 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-533363183654536199 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-533363183654536199 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-533363183654536199 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-533363183654536199 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-533363183654536199 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-533363183654536199 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-533363183654536199 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-533363183654536199 .\[\&_p\]\:gp-inline p{display:inline}.gps-533363183654536199 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-533363183654536199 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-533363183654536199 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g3IkNFCA03"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3IkNFCA03 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gDQjpuLnYO gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gRHUWrzlzZ"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:none;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:0px;--pt:80px;--pl:15px;--pb:48px;--pr:15px;--pt-mobile:42px;--pl-mobile:15px;--pb-mobile:14px;--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRHUWrzlzZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gl9QdOLuf5 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gSszB51KJE"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:32px;--mb-mobile:14px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSszB51KJE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxtNxTxZDf gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="ghxQtP4I_w "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:128px;--mb-mobile:98px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:30px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-533363183654536199.gghxQtP4I_w_text_html" | t }}</h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gCERHbRnv-"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:16px;--pl:30px;--mb-mobile:14px;--pl-mobile:auto;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCERHbRnv- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g7Gu7pezNS gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g--WQyB3Ou"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--rounded:[object Object];--pl:16px;--pr:16px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url(), linear-gradient(180deg, #3F3F3F 0%, #000000 29%);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g--WQyB3Ou gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkiDVN_Nit gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gAJ4JVePOp"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mt:-45px;--mb:57px;--mt-mobile:-46px;--mb-mobile:74px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_531769790600053653-f8dca322-24e6-4101-9728-32e08a57fd83.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:3000/3000;--aspect-tablet:3000/3000;--aspect-mobile:3000/3000;--objf:cover;--w:60%;--w-tablet:60%;--w-mobile:137px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_531769790600053653-f8dca322-24e6-4101-9728-32e08a57fd83.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:3000/3000;--aspect-tablet:3000/3000;--aspect-mobile:3000/3000;--objf:cover;--w:60%;--w-tablet:60%;--w-mobile:137px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gAJ4JVePOp">
        .gAJ4JVePOp {

}
.gAJ4JVePOp > figure > img {

}
      </style>
    
    <div
      parentTag="Col"
        class="gE9RSoDI5b "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:700;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-533363183654536199.ggE9RSoDI5b_text_html" | t }}</div>
      </div>
    </div>
      <style id="custom-css-gE9RSoDI5b">
        .gE9RSoDI5b {

}
.gE9RSoDI5b p {

}
      </style>
    <div  class="gaXqovlqan ">
      
    <gp-icon-list
      uid="gaXqovlqan"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":20,"mobile":16,"tablet":20}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--rounded:[object Object];--mb:10px;--pt:16px;--pl:16px;--pb:16px;--pr:16px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:20px;--size-mobile:16px"
              >
               <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424">
                {{ "sections.gp-global-section-533363183654536199.ggaXqovlqan_childItem_0_html" | t }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div  class="gv1fq5Y5Ff ">
      
    <gp-icon-list
      uid="gv1fq5Y5Ff"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":20,"mobile":16,"tablet":19}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--rounded:[object Object];--mb:10px;--pt:16px;--pl:16px;--pb:16px;--pr:16px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:19px;--size-mobile:16px"
              >
               <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424">
                {{ "sections.gp-global-section-533363183654536199.ggv1fq5Y5Ff_childItem_0_html" | t }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div  class="gt6Y9NaEXz ">
      
    <gp-icon-list
      uid="gt6Y9NaEXz"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":20,"mobile":16,"tablet":20}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--rounded:[object Object];--mb:10px;--pt:16px;--pl:16px;--pb:16px;--pr:16px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:20px;--size-mobile:16px"
              >
               <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424">
                {{ "sections.gp-global-section-533363183654536199.ggt6Y9NaEXz_childItem_0_html" | t }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div  class="gE3YBL7_cN ">
      
    <gp-icon-list
      uid="gE3YBL7_cN"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":20,"mobile":16,"tablet":16}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--rounded:[object Object];--mb:10px;--pt:16px;--pl:16px;--pb:16px;--pr:16px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424">
                {{ "sections.gp-global-section-533363183654536199.ggE3YBL7_cN_childItem_0_html" | t }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div  class="g2Kh-3kCW3 ">
      
    <gp-icon-list
      uid="g2Kh-3kCW3"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":20,"mobile":16,"tablet":20}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--rounded:[object Object];--mb:16px;--pt:16px;--pl:16px;--pb:16px;--pr:16px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:20px;--size-mobile:16px"
              >
               <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424">
                {{ "sections.gp-global-section-533363183654536199.gg2Kh-3kCW3_childItem_0_html" | t }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gWu-Bch8B3 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gCDmngEWRW"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--bblr:0px;--bbrr:10px;--btlr:0px;--btrr:10px;--rounded:[object Object];--pl:16px;--pr:16px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EAEAEA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCDmngEWRW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLL_Ckxuyx gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gSYkFYW02g"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mt:-39px;--mb:49px;--mt-mobile:-30px;--mb-mobile:54px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="{{ "gempages_531769790600053653-a1f51ddd-6763-4ef0-b392-1434f8eb4258.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:3000/3000;--aspect-tablet:3000/3000;--aspect-mobile:3000/3000;--objf:cover;--w:51%;--w-tablet:51%;--w-mobile:82px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_531769790600053653-a1f51ddd-6763-4ef0-b392-1434f8eb4258.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:3000/3000;--aspect-tablet:3000/3000;--aspect-mobile:3000/3000;--objf:cover;--w:51%;--w-tablet:51%;--w-mobile:82px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </div>
  </div>
      <style id="custom-css-gSYkFYW02g">
        .gSYkFYW02g {

}
.gSYkFYW02g > figure > img {

}
      </style>
    
    <div
      parentTag="Col"
        class="gOjf3vkhkI "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-533363183654536199.ggOjf3vkhkI_text_html" | t }}</div>
      </div>
    </div>
      <style id="custom-css-gOjf3vkhkI">
        .gOjf3vkhkI {

}
.gOjf3vkhkI p {

}
      </style>
    <div  class="gyfZWGd2M8 ">
      
    <gp-icon-list
      uid="gyfZWGd2M8"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":18,"mobile":14,"tablet":18}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--rounded:[object Object];--mb:10px;--pt:14px;--pl:14px;--pb:14px;--pr:14px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#242424;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:18px;--size-mobile:14px"
              >
               <svg data-id="512603306221110377" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
<g clip-path="url(#clip0_654_66845)">
<path d="M9.20117 17.0703C7.11259 17.0703 5.10955 16.2406 3.63271 14.7638C2.15586 13.2869 1.32617 11.2839 1.32617 9.19531C1.32617 7.10673 2.15586 5.1037 3.63271 3.62685C5.10955 2.15 7.11259 1.32031 9.20117 1.32031C11.2898 1.32031 13.2928 2.15 14.7696 3.62685C16.2465 5.1037 17.0762 7.10673 17.0762 9.19531C17.0762 11.2839 16.2465 13.2869 14.7696 14.7638C13.2928 16.2406 11.2898 17.0703 9.20117 17.0703ZM9.20117 18.1953C11.5881 18.1953 13.8773 17.2471 15.5651 15.5593C17.253 13.8714 18.2012 11.5823 18.2012 9.19531C18.2012 6.80836 17.253 4.51918 15.5651 2.83135C13.8773 1.14352 11.5881 0.195313 9.20117 0.195312C6.81422 0.195313 4.52504 1.14352 2.83721 2.83135C1.14938 4.51918 0.201172 6.80836 0.201172 9.19531C0.201172 11.5823 1.14938 13.8714 2.83721 15.5593C4.52504 17.2471 6.81422 18.1953 9.20117 18.1953Z" fill="#242424"/>
<path d="M5.42783 5.42304C5.48008 5.37065 5.54215 5.32909 5.61049 5.30073C5.67883 5.27238 5.75209 5.25778 5.82608 5.25778C5.90007 5.25778 5.97333 5.27238 6.04167 5.30073C6.11001 5.32909 6.17208 5.37065 6.22433 5.42304L9.20108 8.40091L12.1778 5.42304C12.2301 5.37074 12.2922 5.32925 12.3605 5.30095C12.4289 5.27264 12.5021 5.25808 12.5761 5.25808C12.65 5.25808 12.7233 5.27264 12.7916 5.30095C12.8599 5.32925 12.922 5.37074 12.9743 5.42304C13.0266 5.47534 13.0681 5.53742 13.0964 5.60575C13.1247 5.67409 13.1393 5.74732 13.1393 5.82129C13.1393 5.89525 13.1247 5.96849 13.0964 6.03682C13.0681 6.10515 13.0266 6.16724 12.9743 6.21954L9.99646 9.19629L12.9743 12.173C13.0266 12.2253 13.0681 12.2874 13.0964 12.3558C13.1247 12.4241 13.1393 12.4973 13.1393 12.5713C13.1393 12.6452 13.1247 12.7185 13.0964 12.7868C13.0681 12.8551 13.0266 12.9172 12.9743 12.9695C12.922 13.0218 12.8599 13.0633 12.7916 13.0916C12.7233 13.1199 12.65 13.1345 12.5761 13.1345C12.5021 13.1345 12.4289 13.1199 12.3605 13.0916C12.2922 13.0633 12.2301 13.0218 12.1778 12.9695L9.20108 9.99166L6.22433 12.9695C6.17203 13.0218 6.10994 13.0633 6.04161 13.0916C5.97328 13.1199 5.90004 13.1345 5.82608 13.1345C5.75212 13.1345 5.67888 13.1199 5.61055 13.0916C5.54222 13.0633 5.48013 13.0218 5.42783 12.9695C5.37553 12.9172 5.33405 12.8551 5.30574 12.7868C5.27744 12.7185 5.26287 12.6452 5.26287 12.5713C5.26287 12.4973 5.27744 12.4241 5.30574 12.3558C5.33405 12.2874 5.37553 12.2253 5.42783 12.173L8.40571 9.19629L5.42783 6.21954C5.37545 6.16728 5.33389 6.10521 5.30553 6.03687C5.27717 5.96854 5.26258 5.89527 5.26258 5.82129C5.26258 5.7473 5.27717 5.67404 5.30553 5.6057C5.33389 5.53736 5.37545 5.47529 5.42783 5.42304Z" fill="#242424"/>
</g>
<defs>
<clipPath id="clip0_654_66845">
<rect width="18" height="18" fill="white" transform="translate(0.201172 0.195312)"/>
</clipPath>
</defs>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#242424">
                {{ "sections.gp-global-section-533363183654536199.ggyfZWGd2M8_childItem_0_html" | t }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div  class="gR4lz6N9cK ">
      
    <gp-icon-list
      uid="gR4lz6N9cK"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":18,"mobile":14,"tablet":18}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--rounded:[object Object];--mb:10px;--pt:14px;--pl:14px;--pb:14px;--pr:14px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#242424;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:18px;--size-mobile:14px"
              >
               <svg data-id="512603306221110377" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
<g clip-path="url(#clip0_654_66845)">
<path d="M9.20117 17.0703C7.11259 17.0703 5.10955 16.2406 3.63271 14.7638C2.15586 13.2869 1.32617 11.2839 1.32617 9.19531C1.32617 7.10673 2.15586 5.1037 3.63271 3.62685C5.10955 2.15 7.11259 1.32031 9.20117 1.32031C11.2898 1.32031 13.2928 2.15 14.7696 3.62685C16.2465 5.1037 17.0762 7.10673 17.0762 9.19531C17.0762 11.2839 16.2465 13.2869 14.7696 14.7638C13.2928 16.2406 11.2898 17.0703 9.20117 17.0703ZM9.20117 18.1953C11.5881 18.1953 13.8773 17.2471 15.5651 15.5593C17.253 13.8714 18.2012 11.5823 18.2012 9.19531C18.2012 6.80836 17.253 4.51918 15.5651 2.83135C13.8773 1.14352 11.5881 0.195313 9.20117 0.195312C6.81422 0.195313 4.52504 1.14352 2.83721 2.83135C1.14938 4.51918 0.201172 6.80836 0.201172 9.19531C0.201172 11.5823 1.14938 13.8714 2.83721 15.5593C4.52504 17.2471 6.81422 18.1953 9.20117 18.1953Z" fill="#242424"/>
<path d="M5.42783 5.42304C5.48008 5.37065 5.54215 5.32909 5.61049 5.30073C5.67883 5.27238 5.75209 5.25778 5.82608 5.25778C5.90007 5.25778 5.97333 5.27238 6.04167 5.30073C6.11001 5.32909 6.17208 5.37065 6.22433 5.42304L9.20108 8.40091L12.1778 5.42304C12.2301 5.37074 12.2922 5.32925 12.3605 5.30095C12.4289 5.27264 12.5021 5.25808 12.5761 5.25808C12.65 5.25808 12.7233 5.27264 12.7916 5.30095C12.8599 5.32925 12.922 5.37074 12.9743 5.42304C13.0266 5.47534 13.0681 5.53742 13.0964 5.60575C13.1247 5.67409 13.1393 5.74732 13.1393 5.82129C13.1393 5.89525 13.1247 5.96849 13.0964 6.03682C13.0681 6.10515 13.0266 6.16724 12.9743 6.21954L9.99646 9.19629L12.9743 12.173C13.0266 12.2253 13.0681 12.2874 13.0964 12.3558C13.1247 12.4241 13.1393 12.4973 13.1393 12.5713C13.1393 12.6452 13.1247 12.7185 13.0964 12.7868C13.0681 12.8551 13.0266 12.9172 12.9743 12.9695C12.922 13.0218 12.8599 13.0633 12.7916 13.0916C12.7233 13.1199 12.65 13.1345 12.5761 13.1345C12.5021 13.1345 12.4289 13.1199 12.3605 13.0916C12.2922 13.0633 12.2301 13.0218 12.1778 12.9695L9.20108 9.99166L6.22433 12.9695C6.17203 13.0218 6.10994 13.0633 6.04161 13.0916C5.97328 13.1199 5.90004 13.1345 5.82608 13.1345C5.75212 13.1345 5.67888 13.1199 5.61055 13.0916C5.54222 13.0633 5.48013 13.0218 5.42783 12.9695C5.37553 12.9172 5.33405 12.8551 5.30574 12.7868C5.27744 12.7185 5.26287 12.6452 5.26287 12.5713C5.26287 12.4973 5.27744 12.4241 5.30574 12.3558C5.33405 12.2874 5.37553 12.2253 5.42783 12.173L8.40571 9.19629L5.42783 6.21954C5.37545 6.16728 5.33389 6.10521 5.30553 6.03687C5.27717 5.96854 5.26258 5.89527 5.26258 5.82129C5.26258 5.7473 5.27717 5.67404 5.30553 5.6057C5.33389 5.53736 5.37545 5.47529 5.42783 5.42304Z" fill="#242424"/>
</g>
<defs>
<clipPath id="clip0_654_66845">
<rect width="18" height="18" fill="white" transform="translate(0.201172 0.195312)"/>
</clipPath>
</defs>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#242424">
                {{ "sections.gp-global-section-533363183654536199.ggR4lz6N9cK_childItem_0_html" | t }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div  class="gTcbAWbEdu ">
      
    <gp-icon-list
      uid="gTcbAWbEdu"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":18,"mobile":14,"tablet":18}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--rounded:[object Object];--mb:10px;--pt:14px;--pl:14px;--pb:14px;--pr:14px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#242424;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:18px;--size-mobile:14px"
              >
               <svg data-id="512603306221110377" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
<g clip-path="url(#clip0_654_66845)">
<path d="M9.20117 17.0703C7.11259 17.0703 5.10955 16.2406 3.63271 14.7638C2.15586 13.2869 1.32617 11.2839 1.32617 9.19531C1.32617 7.10673 2.15586 5.1037 3.63271 3.62685C5.10955 2.15 7.11259 1.32031 9.20117 1.32031C11.2898 1.32031 13.2928 2.15 14.7696 3.62685C16.2465 5.1037 17.0762 7.10673 17.0762 9.19531C17.0762 11.2839 16.2465 13.2869 14.7696 14.7638C13.2928 16.2406 11.2898 17.0703 9.20117 17.0703ZM9.20117 18.1953C11.5881 18.1953 13.8773 17.2471 15.5651 15.5593C17.253 13.8714 18.2012 11.5823 18.2012 9.19531C18.2012 6.80836 17.253 4.51918 15.5651 2.83135C13.8773 1.14352 11.5881 0.195313 9.20117 0.195312C6.81422 0.195313 4.52504 1.14352 2.83721 2.83135C1.14938 4.51918 0.201172 6.80836 0.201172 9.19531C0.201172 11.5823 1.14938 13.8714 2.83721 15.5593C4.52504 17.2471 6.81422 18.1953 9.20117 18.1953Z" fill="#242424"/>
<path d="M5.42783 5.42304C5.48008 5.37065 5.54215 5.32909 5.61049 5.30073C5.67883 5.27238 5.75209 5.25778 5.82608 5.25778C5.90007 5.25778 5.97333 5.27238 6.04167 5.30073C6.11001 5.32909 6.17208 5.37065 6.22433 5.42304L9.20108 8.40091L12.1778 5.42304C12.2301 5.37074 12.2922 5.32925 12.3605 5.30095C12.4289 5.27264 12.5021 5.25808 12.5761 5.25808C12.65 5.25808 12.7233 5.27264 12.7916 5.30095C12.8599 5.32925 12.922 5.37074 12.9743 5.42304C13.0266 5.47534 13.0681 5.53742 13.0964 5.60575C13.1247 5.67409 13.1393 5.74732 13.1393 5.82129C13.1393 5.89525 13.1247 5.96849 13.0964 6.03682C13.0681 6.10515 13.0266 6.16724 12.9743 6.21954L9.99646 9.19629L12.9743 12.173C13.0266 12.2253 13.0681 12.2874 13.0964 12.3558C13.1247 12.4241 13.1393 12.4973 13.1393 12.5713C13.1393 12.6452 13.1247 12.7185 13.0964 12.7868C13.0681 12.8551 13.0266 12.9172 12.9743 12.9695C12.922 13.0218 12.8599 13.0633 12.7916 13.0916C12.7233 13.1199 12.65 13.1345 12.5761 13.1345C12.5021 13.1345 12.4289 13.1199 12.3605 13.0916C12.2922 13.0633 12.2301 13.0218 12.1778 12.9695L9.20108 9.99166L6.22433 12.9695C6.17203 13.0218 6.10994 13.0633 6.04161 13.0916C5.97328 13.1199 5.90004 13.1345 5.82608 13.1345C5.75212 13.1345 5.67888 13.1199 5.61055 13.0916C5.54222 13.0633 5.48013 13.0218 5.42783 12.9695C5.37553 12.9172 5.33405 12.8551 5.30574 12.7868C5.27744 12.7185 5.26287 12.6452 5.26287 12.5713C5.26287 12.4973 5.27744 12.4241 5.30574 12.3558C5.33405 12.2874 5.37553 12.2253 5.42783 12.173L8.40571 9.19629L5.42783 6.21954C5.37545 6.16728 5.33389 6.10521 5.30553 6.03687C5.27717 5.96854 5.26258 5.89527 5.26258 5.82129C5.26258 5.7473 5.27717 5.67404 5.30553 5.6057C5.33389 5.53736 5.37545 5.47529 5.42783 5.42304Z" fill="#242424"/>
</g>
<defs>
<clipPath id="clip0_654_66845">
<rect width="18" height="18" fill="white" transform="translate(0.201172 0.195312)"/>
</clipPath>
</defs>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#242424">
                {{ "sections.gp-global-section-533363183654536199.ggTcbAWbEdu_childItem_0_html" | t }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div  class="g2TqKFGnsP ">
      
    <gp-icon-list
      uid="g2TqKFGnsP"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":18,"mobile":14,"tablet":18}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--rounded:[object Object];--mb:10px;--pt:14px;--pl:14px;--pb:14px;--pr:14px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#242424;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:18px;--size-mobile:14px"
              >
               <svg data-id="512603306221110377" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
<g clip-path="url(#clip0_654_66845)">
<path d="M9.20117 17.0703C7.11259 17.0703 5.10955 16.2406 3.63271 14.7638C2.15586 13.2869 1.32617 11.2839 1.32617 9.19531C1.32617 7.10673 2.15586 5.1037 3.63271 3.62685C5.10955 2.15 7.11259 1.32031 9.20117 1.32031C11.2898 1.32031 13.2928 2.15 14.7696 3.62685C16.2465 5.1037 17.0762 7.10673 17.0762 9.19531C17.0762 11.2839 16.2465 13.2869 14.7696 14.7638C13.2928 16.2406 11.2898 17.0703 9.20117 17.0703ZM9.20117 18.1953C11.5881 18.1953 13.8773 17.2471 15.5651 15.5593C17.253 13.8714 18.2012 11.5823 18.2012 9.19531C18.2012 6.80836 17.253 4.51918 15.5651 2.83135C13.8773 1.14352 11.5881 0.195313 9.20117 0.195312C6.81422 0.195313 4.52504 1.14352 2.83721 2.83135C1.14938 4.51918 0.201172 6.80836 0.201172 9.19531C0.201172 11.5823 1.14938 13.8714 2.83721 15.5593C4.52504 17.2471 6.81422 18.1953 9.20117 18.1953Z" fill="#242424"/>
<path d="M5.42783 5.42304C5.48008 5.37065 5.54215 5.32909 5.61049 5.30073C5.67883 5.27238 5.75209 5.25778 5.82608 5.25778C5.90007 5.25778 5.97333 5.27238 6.04167 5.30073C6.11001 5.32909 6.17208 5.37065 6.22433 5.42304L9.20108 8.40091L12.1778 5.42304C12.2301 5.37074 12.2922 5.32925 12.3605 5.30095C12.4289 5.27264 12.5021 5.25808 12.5761 5.25808C12.65 5.25808 12.7233 5.27264 12.7916 5.30095C12.8599 5.32925 12.922 5.37074 12.9743 5.42304C13.0266 5.47534 13.0681 5.53742 13.0964 5.60575C13.1247 5.67409 13.1393 5.74732 13.1393 5.82129C13.1393 5.89525 13.1247 5.96849 13.0964 6.03682C13.0681 6.10515 13.0266 6.16724 12.9743 6.21954L9.99646 9.19629L12.9743 12.173C13.0266 12.2253 13.0681 12.2874 13.0964 12.3558C13.1247 12.4241 13.1393 12.4973 13.1393 12.5713C13.1393 12.6452 13.1247 12.7185 13.0964 12.7868C13.0681 12.8551 13.0266 12.9172 12.9743 12.9695C12.922 13.0218 12.8599 13.0633 12.7916 13.0916C12.7233 13.1199 12.65 13.1345 12.5761 13.1345C12.5021 13.1345 12.4289 13.1199 12.3605 13.0916C12.2922 13.0633 12.2301 13.0218 12.1778 12.9695L9.20108 9.99166L6.22433 12.9695C6.17203 13.0218 6.10994 13.0633 6.04161 13.0916C5.97328 13.1199 5.90004 13.1345 5.82608 13.1345C5.75212 13.1345 5.67888 13.1199 5.61055 13.0916C5.54222 13.0633 5.48013 13.0218 5.42783 12.9695C5.37553 12.9172 5.33405 12.8551 5.30574 12.7868C5.27744 12.7185 5.26287 12.6452 5.26287 12.5713C5.26287 12.4973 5.27744 12.4241 5.30574 12.3558C5.33405 12.2874 5.37553 12.2253 5.42783 12.173L8.40571 9.19629L5.42783 6.21954C5.37545 6.16728 5.33389 6.10521 5.30553 6.03687C5.27717 5.96854 5.26258 5.89527 5.26258 5.82129C5.26258 5.7473 5.27717 5.67404 5.30553 5.6057C5.33389 5.53736 5.37545 5.47529 5.42783 5.42304Z" fill="#242424"/>
</g>
<defs>
<clipPath id="clip0_654_66845">
<rect width="18" height="18" fill="white" transform="translate(0.201172 0.195312)"/>
</clipPath>
</defs>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#242424">
                {{ "sections.gp-global-section-533363183654536199.gg2TqKFGnsP_childItem_0_html" | t }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div  class="gZD3uioBSo ">
      
    <gp-icon-list
      uid="gZD3uioBSo"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":18,"mobile":14,"tablet":18}}'
       style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--rounded:[object Object];--mb:14px;--pt:14px;--pl:14px;--pb:14px;--pr:14px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:14px;--pr-mobile:14px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex"
            style="--cg:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#242424;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:18px;--size-mobile:14px"
              >
               <svg data-id="512603306221110377" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
<g clip-path="url(#clip0_654_66845)">
<path d="M9.20117 17.0703C7.11259 17.0703 5.10955 16.2406 3.63271 14.7638C2.15586 13.2869 1.32617 11.2839 1.32617 9.19531C1.32617 7.10673 2.15586 5.1037 3.63271 3.62685C5.10955 2.15 7.11259 1.32031 9.20117 1.32031C11.2898 1.32031 13.2928 2.15 14.7696 3.62685C16.2465 5.1037 17.0762 7.10673 17.0762 9.19531C17.0762 11.2839 16.2465 13.2869 14.7696 14.7638C13.2928 16.2406 11.2898 17.0703 9.20117 17.0703ZM9.20117 18.1953C11.5881 18.1953 13.8773 17.2471 15.5651 15.5593C17.253 13.8714 18.2012 11.5823 18.2012 9.19531C18.2012 6.80836 17.253 4.51918 15.5651 2.83135C13.8773 1.14352 11.5881 0.195313 9.20117 0.195312C6.81422 0.195313 4.52504 1.14352 2.83721 2.83135C1.14938 4.51918 0.201172 6.80836 0.201172 9.19531C0.201172 11.5823 1.14938 13.8714 2.83721 15.5593C4.52504 17.2471 6.81422 18.1953 9.20117 18.1953Z" fill="#242424"/>
<path d="M5.42783 5.42304C5.48008 5.37065 5.54215 5.32909 5.61049 5.30073C5.67883 5.27238 5.75209 5.25778 5.82608 5.25778C5.90007 5.25778 5.97333 5.27238 6.04167 5.30073C6.11001 5.32909 6.17208 5.37065 6.22433 5.42304L9.20108 8.40091L12.1778 5.42304C12.2301 5.37074 12.2922 5.32925 12.3605 5.30095C12.4289 5.27264 12.5021 5.25808 12.5761 5.25808C12.65 5.25808 12.7233 5.27264 12.7916 5.30095C12.8599 5.32925 12.922 5.37074 12.9743 5.42304C13.0266 5.47534 13.0681 5.53742 13.0964 5.60575C13.1247 5.67409 13.1393 5.74732 13.1393 5.82129C13.1393 5.89525 13.1247 5.96849 13.0964 6.03682C13.0681 6.10515 13.0266 6.16724 12.9743 6.21954L9.99646 9.19629L12.9743 12.173C13.0266 12.2253 13.0681 12.2874 13.0964 12.3558C13.1247 12.4241 13.1393 12.4973 13.1393 12.5713C13.1393 12.6452 13.1247 12.7185 13.0964 12.7868C13.0681 12.8551 13.0266 12.9172 12.9743 12.9695C12.922 13.0218 12.8599 13.0633 12.7916 13.0916C12.7233 13.1199 12.65 13.1345 12.5761 13.1345C12.5021 13.1345 12.4289 13.1199 12.3605 13.0916C12.2922 13.0633 12.2301 13.0218 12.1778 12.9695L9.20108 9.99166L6.22433 12.9695C6.17203 13.0218 6.10994 13.0633 6.04161 13.0916C5.97328 13.1199 5.90004 13.1345 5.82608 13.1345C5.75212 13.1345 5.67888 13.1199 5.61055 13.0916C5.54222 13.0633 5.48013 13.0218 5.42783 12.9695C5.37553 12.9172 5.33405 12.8551 5.30574 12.7868C5.27744 12.7185 5.26287 12.6452 5.26287 12.5713C5.26287 12.4973 5.27744 12.4241 5.30574 12.3558C5.33405 12.2874 5.37553 12.2253 5.42783 12.173L8.40571 9.19629L5.42783 6.21954C5.37545 6.16728 5.33389 6.10521 5.30553 6.03687C5.27717 5.96854 5.26258 5.89527 5.26258 5.82129C5.26258 5.7473 5.27717 5.67404 5.30553 5.6057C5.33389 5.53736 5.37545 5.47529 5.42783 5.42304Z" fill="#242424"/>
</g>
<defs>
<clipPath id="clip0_654_66845">
<rect width="18" height="18" fill="white" transform="translate(0.201172 0.195312)"/>
</clipPath>
</defs>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#242424">
                {{ "sections.gp-global-section-533363183654536199.ggZD3uioBSo_childItem_0_html" | t }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gBlJYjIdjy"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:16px;--mb-mobile:14px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gBlJYjIdjy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1pCYSBYbp gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:8px;--ta:center"
    
  >
    <style>
    .gU46UNHzMZ.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 300px;
      border-bottom-right-radius: 300px;
      border-top-left-radius: 300px;
      border-top-right-radius: 300px;
      
    }

    .gU46UNHzMZ:hover::before {
      
      
    }

    .gU46UNHzMZ:hover .gp-button-icon {
      color: undefined;
    }

     .gU46UNHzMZ .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gU46UNHzMZ:hover .gp-button-price {
      color: undefined;
    }

    .gU46UNHzMZ .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gU46UNHzMZ .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gU46UNHzMZ:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="gU46UNHzMZ" aria-label="<p>Nu bestellen</p>"
      
      data-state="idle"
      class="gU46UNHzMZ gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#575757;--bg:#111111;--bblr:300px;--bbrr:300px;--btlr:300px;--btrr:300px;--shadow:none;--w:395px;--w-tablet:395px;--w-mobile:395px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:14px;--pb:14px;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:700;--ls:normal;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex gp-flex-row-reverse">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817714167153000">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,109.66-32,32a8,8,0,0,1-11.32-11.32L148.69,136H88a8,8,0,0,1,0-16h60.69l-18.35-18.34a8,8,0,0,1,11.32-11.32l32,32A8,8,0,0,1,173.66,133.66Z" /></svg></span>
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ "sections.gp-global-section-533363183654536199.ggU46UNHzMZ_label_html" | t }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

      <style id="custom-css-gU46UNHzMZ">
        button.gU46UNHzMZ {

}
      </style>
    
    <div
      parentTag="Col"
        class="gFZJVaS92j "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:16px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-533363183654536199.ggFZJVaS92j_text_html" | t }}</div>
      </div>
    </div>
      <style id="custom-css-gFZJVaS92j">
        .gFZJVaS92j {

}
.gFZJVaS92j p {

}
      </style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hjg.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYAZ9hjg.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    "presets": [{ "name": "Vergelijking" }],
    "name": "Vergelijking",
    "tag": "section",
    "class": "gps-533363183654536199 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/02e520-2/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=533363183654536199)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {"nl":{"gghxQtP4I_w_text_html":"Waarom kiezen voor Avalect?","ggE9RSoDI5b_text_html":"<p>Avalect</p>","ggaXqovlqan_childItem_0_html":"<p><strong>1 Jaar garantie&nbsp;</strong></p>","ggv1fq5Y5Ff_childItem_0_html":"<p><span style=\"font-size:16px;\"><strong>Nederlandse Handleiding</strong></span></p>","ggt6Y9NaEXz_childItem_0_html":"<p><strong>Inclusief achtercamera</strong></p>","ggE3YBL7_cN_childItem_0_html":"<p><strong>Nachtvisie</strong></p>","gg2Kh-3kCW3_childItem_0_html":"<p>1<strong>75 kijkhoek</strong></p>","ggOjf3vkhkI_text_html":"<p>Andere</p>","ggyfZWGd2M8_childItem_0_html":"<p><strong>1 Jaar garantie</strong></p>","ggR4lz6N9cK_childItem_0_html":"<p><strong>Nederlandse Handleiding</strong></p>","ggTcbAWbEdu_childItem_0_html":"<p><strong>Inclusief achtercamera</strong></p>","gg2TqKFGnsP_childItem_0_html":"<p><strong>Nachtvisie</strong></p>","ggZD3uioBSo_childItem_0_html":"<p>1<strong>75 kijkhoek</strong></p>","ggU46UNHzMZ_label_html":"<p>Nu bestellen</p>","ggFZJVaS92j_text_html":"<p><strong>30 DAGEN BEDENKTIJD, NIET GOED? GELD TERUG!</strong></p>"}}
  }
{% endschema %}
